.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.25;
    height: 100vh;
    background-color: #2f3135; 
}
.sidebar__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: #2f3135; 
    border-bottom: 3px solid rgb(29, 29, 29);
}
.sidebar__channels{
    flex: 1;
}
.sidebar__addChannel
{
    cursor: pointer;
}
.sidebar__addChannel:hover{
    color: white;
}
.sidebar__channelsHeader{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   background-color: #2f3135; 
   color: rgb(99, 99, 99);
}
.sidebar__header{
    display: flex;
    align-items: center;
}
.sidebar__vioce,
.sidebar__profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    padding: 10px;
    border-top: 1px solid gray;
}
.sidebar__vioceInfo,
.sidebar__profileInfo{
    flex: 1;
    padding: 10px;
}
.sidebar__vioceIcon{
    color: #4fb185;
}
.sidebar__vioceInfo>h3{
    color: #4fb185;
}
.sidebar__vioceInfo>p{
font-size: smaller;
}
.sidebar__vioceIcons> *,
.sidebar__infoIcons > *{
padding: 10px;
}
.sidebar__profileInfo>h3{
color: white;
}
.statut{
height: 12px;
width: 12px;
border-radius: 50%;
background-color: rgb(21, 255, 0);
position: absolute;
bottom: 5px;
left: 3px;
}
.statut__contener{
position: absolute;
display: block;
border-radius: 50%;
left: 37px;
bottom:23px;
width: 20px;
height: 20px;
background-color:#2f3135;
}
.sidebar__profile>.MuiSvgIcon-root{
    position: relative;
}
.sidebar__header> .MuiSvgIcon-root .active{
    display: none;
    
}
#toggel{
   cursor: pointer;
}
#toggel:hover{
    color: white;
 }